@import '../../core/styles/variables';
@import '../../core/styles/mixins';


//navbar
.navbar {
    background-color: var(--color-black);

}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black);

    .navbar-content {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .dropdown-item {
            position: relative;
            display: inline-block;

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                color: var(--color-black-secondary);
                min-width: 200px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 12px 16px;
                z-index: 1;
                margin-left: calc(var(--layout-spacing-3) * -1);
                margin-top: var(--layout-spacing-4-5);
                border-radius: var(--layout-spacing-0-75);

                .dropdown-content-item {
                    @include sectionText(var(--color-black-secondary));
                    margin: 0 var(--layout-spacing-1) var(--layout-spacing-1);
                    border-bottom: 1px solid var(--color-gray);
                    text-align: left;
                    padding-bottom: var(--layout-spacing-1);
                    cursor: pointer;

                    &:hover {
                        color: var(--color-beige);
                    }
                }
            }

            &:hover {
                .dropdown-content {
                    display: block;

                }
            }
        }

        .navbar-item {
            float: right;
            display: flex;
            color: var(--color-white-secondary);
            font-weight: var(--font-weight-semibold);
            font-size: var(--font-size-default);
            text-align: center;
            padding: var(--layout-spacing-2-5) var(--layout-spacing-3);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                background-color: var(--color-beige);
                color: var(--color-white);
            }

            .active {
                background-color: var(--color-beige);
                color: var(--color-white);
            }

            .dropdown-icon {
                margin-left: var(--layout-spacing-1);
            }
        }
    }
}

.menu-button-container {
    display: none;
    height: 100%;
    width: var(--layout-spacing-4);
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button {
    display: block;
    background-color: var(--color-white);
    position: absolute;
    height: var(--layout-spacing-0-5);
    width: var(--layout-spacing-4);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;

    &::before,
    &::after {
        display: block;
        background-color: var(--color-white);
        position: absolute;
        height: var(--layout-spacing-0-5);
        width: var(--layout-spacing-4);
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    &::before {
        content: '';
        margin-top: calc(var(--layout-spacing-1) * -1);
    }

    &::after {
        content: '';
        margin-top: var(--layout-spacing-1);
    }
}

#menu-toggle {
    display: none;

    &:checked+.menu-button-container {
        .menu-button {
            background: var(--color-black);

            &::before {
                margin-top: 0;
                transform: rotate(405deg);
            }

            &::after {
                margin-top: 0;
                transform: rotate(-405deg);
            }
        }
    }
}


@media (max-width: 720px) {
    .menu-button-container {
        display: flex;
    }

    .navbar-container {
        padding: var(--layout-spacing-3);

        .navbar-content {
            position: absolute;
            top: 0;
            margin-top: var(--layout-spacing-6);
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;

            &>.navbar-item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0.5em 0;
                width: 100%;
                color: white;
                background-color: var(--color-black);
            }

            &>.navbar-item:not(:last-child) {
                border-bottom: 1px solid var(--color-beige-secondary);
            }
        }

        #menu-toggle~.navbar-content .navbar-item {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            
            .navbar-item-content {
                display: none;
            }
        }

        #menu-toggle:checked~.navbar-content .navbar-item {
            border: 1px solid #333;
            height: 2.5em;
            padding: 0.5em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

            .navbar-item-content {
                display: block;
            }
        }

    }
}

