
@import '../../core/styles/variables';
@import '../../core/styles/mixins';

//header section
.header-container {
    background: url('../../images/bitmap.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-title {
        @include titleLarge;
        padding-bottom: var(--layout-spacing-2);
        text-align: center;
    }

    .header-subtitle {
        @include titleMedium(var(--color-white));
        padding-bottom: var(--layout-spacing-4);
        text-align: center;
    }

    .search-input {
        width: 100%;
        position: relative;
        display: flex;

        .search-item {
            width: 100%;
            border: 2px solid var(--color-white);
            border-right: none;
            padding: var(--layout-spacing-0-75) var(--layout-spacing-1-5);
            border-radius: var(--layout-spacing-0-5) 0 0 var(--layout-spacing-0-5);
            outline: none;
            color: var(--color-white);
            background-color: transparent;

            &:focus {
                color: var(--color-white);
            }

            &::placeholder {
                color: var(--color-gray);
            }
        }

        .search-button {
            width: 40px;
            height: 36px;
            border: 2px solid var(--color-white);
            border-left: none;
            background: transparent;
            text-align: center;
            color: var(--color-white);
            border-radius: 0 var(--layout-spacing-0-5) var(--layout-spacing-0-5) 0;
            cursor: pointer;

            .search-icon {
                img {
                    height: var(--layout-spacing-2);
                    width: var(--layout-spacing-2);
                }
            }
        }

    }
}
